@import url('https://fonts.googleapis.com/css?family=Charmonman|Domine|Elsie+Swash+Caps|Open+Sans|Raleway');
html,
body {
    margin: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

body {
    background-image: url(../images/tan-erica-438857-unsplash.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    font-family: 'Elsie Swash Caps', cursive;
    letter-spacing: 5px;
}

.main {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #605252;
    align-items: center;
    padding-top: 10em;
}

a {
    text-decoration: none;
    color: black;
    font-style: bold;
}

.audio{
    padding: 5px;
    width: 50px;
    height: 50px;
    border: solid black 2px;
    border-radius: 50px 50px 50px 50px;
}

.audio-1{
    position: absolute;
    top: 27em;
    left: 15em;
}

.audio-2{
    position: absolute;
    top: 17em;
    left: 25em;
}

.audio-3{
    position: absolute;
    top: 14em;
    left: 40em;
}

.audio-4{
    position: absolute;
    top: 18em;
    left: 53em;
}

.audio-5{
    position: absolute;
    top: 27em;
    left: 60em;
}